<html>
    <body>
        {% include "barra.html" %}
    {# Comentario de ejemplo #}

    {% comment %}
       Ejemplo 
           de
           comentario en 
                    varias líneas
    {% endcomment %}
    {% if persona.nombre == "Marcelo" %}
        <h1>
            Hola Marcelo,
        </h1>
        {% else %}
        <h1>
            Esperaba a Marcelo, pero igual... Hola {{persona.nombre}}
        </h1>
    {% endif %}

    <h2 style="color: blue;">
    estamos viendo la primera plantilla con Django en el d&iacute;a {{momento_actual.day}}/{{momento_actual.month}}/{{momento_actual.year}}
    </h2>
    {# Ejemplo de filtro | y el filtro #}
    <p>El nombre proporcionado es {{persona.nombre|lower}} {{persona.apellido.upper}}</p>
    <p><strong>Temas del curso:</strong></p>
    <!-- <p>{{temas.0}}</p> -->
    <p>
        <ul>
        {% if temas %}
            {% for elTema in temas %}

                <li>{{elTema|first|lower}} {{elTema}}</li>

            {% endfor %}
          {% else %}  
            <p>No hay elementos para mostrar</p>
        {% endif %}
        </ul>
    </p>
    </body>
</html>